<div class="masthead d-flex">
    <div class="dark-overlay">
        <div class="text-center">
            <h3 class="mt-x">Ordinarios-Biodegradables</h3>
            <div class="bgcan">
                <img class="img-u" src="img/3.jpg" alt="">
            </div>
            <div>
                El contenedor verde es el indicado para depositar residuos organicos y biodegradables como:<br>
                Residuos de alimentos.<br>
                Hojarasca.<br>
                Vegetales.<br>
                ¿ Su articulo pertenece a esta categoría?<br>
                <div>
                <a href="/thanks/3">
                    <div class="btn btn-success m-1 p-3">                        
                        si 
                    </div>
                </a>
                <a href="/selection">
                    <div class="btn btn-danger m-1 p-3">                        
                        No
                    </div>
                </a>
                </div>

            </div>
        </div>
    </div>
</div>