<div class="masthead d-flex">
    <div class="dark-overlay">
        <div class="text-center">
            <h3 class="mt-x">Papel-Cartón</h3>
            <div class="bgcan">
                <img class="img-u" src="img/1.jpg" alt="">
            </div>
            <div>
                El contenedor gris es el indicado para depositar residuos aprovachables como:<br>
                Revistas y cuadernos.<br>
                Cajas de carton.<br>
                Folletos entre otros<br>
                Debes clasificar estos siempre y cuando estos esten limpios o libres de otra sustancia.
                Su material esta libre de contaminantes?<br>
                <div>
                <a href="/thanks/1">
                    <div class="btn btn-secondary m-1 p-3">                        
                        si 
                    </div>
                </a>
                <a href="/selection">
                    <div class="btn btn-danger m-1 p-3">                        
                        No
                    </div>
                </a>
                </div>

            </div>
        </div>
    </div>
</div>