<div class="masthead d-flex">
    <div class="dark-overlay">
        <div class="text-center">
            <h3 class="mt-x">Plástico</h3>
            <div class="bgcan">
                <img class="img-u" src="img/plasticCan.jpg" alt="">

            </div>
        </div>
    </div>
</div>