<div class="masthead d-flex">
    <div class="dark-overlay">
        <div class="text-center">
            <h3 class="mt-x">Plástico</h3>
            <div class="bgcan">
                <img class="img-u" src="img/plasticCan.jpg" alt="">
            </div>
            <div>
                El contenedor azul es el indicado para depositar residuos aprovachables como:<br>
                Botellas y tapas plasticas.<br>
                Desechacbles.<br>
                Bolsas plasticas<br>
                ¿ Su articulo pertenece a esta categoría?<br>
                <div>
                <a href="/thanks">
                    <div class="btn btn-primary m-1 p-3">                        
                        si 
                    </div>
                </a>
                <a href="/selection">
                    <div class="btn btn-outline-danger m-1 p-3">                        
                        No
                    </div>
                </a>
                </div>

            </div>
        </div>
    </div>
</div>