<div class="masthead d-flex">
    <div class="dark-overlay">
        <div class="text-center">
            <h1 class="mt-5">Es hora de Reciclar</h1>
            <h4 class="">¿Qué material vas a Reciclar? </h4>
            
            {{!--  --}}
            <div class="container wbg">
                <div class="row">
                {{!-- Papel-Carton --}}
                    <div class="col mt-2">
                        <a href="/ambulance">
                        <img src="img/papelCarton.png" class="img"> 
                        <div class="btn btn-secondary m-1 p-4">
                            <p class="lead my-auto"></p>
                            <p>Papel-Carton</p>
                        </div>
                        </a>
                    </div>
                {{!-- Vidrio-lata --}}
                    <div class="col mt-2">
                        <img src="img/Latas.jpg" class="img">
                        <a href="/ambulance">
                        <div class="btn btn-light m-1 p-4">
                            <p>Botellas de </p>
                            <p>Vidrio/Lata</p>
                        </div>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    {{!-- Organic --}}
                    <div class="col">
                        <img src="img/ordinarios.png" class="img">
                        <a href="/organic">
                        <div class="btn btn-success m-1 p-4">
                            <p>Ordinarios</p>
                            <p>Biodegradables</p>
                        </div>
                        </a>
                    </div>
                    {{!-- Plastic --}}
                    <div class="col">
                        <img src="img/plastic.png" class="img">
                        <a href="/ambulance">
                        <div class="btn btn-primary m-1 p-4">
                            <p>Botellas/Bolsas</p>
                            <p>Plasticas</p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
