<div class="masthead d-flex">
    <div class="dark-overlay">
        <div class="text-center">
            <h3 class="mt-x">Vamos</h3>
            <div class="bgcan">
                <img class="img-u" src="/img/{{img}}.jpg">
            </div>
            <div class="mt-1">
                Por favor deposite su articulo en la caneca habilitada<br>
               
                <div>
                <a href="/congrats">
                    <div class="btn btn-dark m-1 p-3">                        
                        Terminar Proceso 
                    </div>
                </a>
                </div>

            </div>
        </div>
    </div>
</div>