html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.masthead {
  color: white;
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  background: url('/img/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.dark-overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.wbg{
  background-color: white;
  color: white;
  width: 70vw;
  height: 70vh;
  border-radius: 15px;
}
.bgcan{
  margin-top: 1vh;
  background-color: white;
  height: 50vw;
  width: 50vw;
  border-radius: 40vw;
  margin-left: auto;
  margin-right: auto;
}
.index {
  width: 100vw;
  height: 100vh;
}
.mt-x {
  margin-top: 15vw;
  font-size: 12vw;
}
.navbar {
  width: 100vw;
  z-index: 100;
  opacity: 0.9;
  position: fixed;
}
.img{
  width: 12vw;
  height: 12vw;
}
.img-u{
  border-radius: 50vw;
  padding-top: 4vh;
  width: 39vw;
  height: 50vw;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}
/* body {
  background: #f5f6fa;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
}
.index {
  width: 100vw;
  height: 100vh;
}
.navbar {
  background: black !important;
}
.nav-link {
  color: #fff !important;
}
.masthead {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url('/img/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
} */